version: "3.9"
services:
  api:
    build: ./
    volumes:
      - ./:/usr/app/src
    environment:
      PORT: 3000
    ports:
      - 3000:3000
    command: npm run start:dev
  db:
    image: postgres
    restart: always
    volumes:
      - ./scripts/pg/:/docker-entrypoint-initdb.d/
    ports:
      - 9999:5432
    environment:
      POSTGRES_PASSWORD: example
